<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Laboratoire 6 - Pense-bête MV*</title>

        <!-- Bootstrap -->
        <link href="./css/bootstrap.min.css" rel="stylesheet">

        <!-- other style considerations -->
        <link href="./css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
            <h1>Laboratoire 6 - Pense-bête MV*</h1>

            <div class="panel panel-default" id="contenantTaches">

                <script id="taches-tpl" type="text/template">
                    <!--/* Default panel contents */-->
                    <div class="panel-heading">Liste de tâches</div>

                    <!--/* Table */-->
                    <table class="table table-hover">
                        <colgroup>
                            <col id='Col1'>
                            <col id='Col2'>
                        </colgroup>                    
                        <tbody id="tasktable">
                            <% _.each(tasks, function(task){ %>
                                <tr id="<%= task.id %>">
                                    <td class="input-group">
                                        <input type="text" class="form-control" value="<%=task.task%>">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">
                                                <span class="glyphicon glyphicon-floppy-disk" data-id="<%= task.id %>"></span>
                                            </button>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-trash" data-id="<%= task.id %>"></span>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>

                    <!--/* Panel-footer incluant zone de texte et bouton ajouter. */-->
                    <div class="panel-footer">
                        <div class="input-group" id='divAjouterTexte'>
                            <input type="text" class="form-control" id="txtNouvTache">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="boutonAjouter">Ajouter</button>
                            </span>
                        </div>
                    </div> <!--/* panel-footer */-->
                </script>                 
            </div> <!-- panel -->
        </div> <!-- container-fluid -->

        <!-- jQuery -->
        <script src="./js/lib/jquery-1.11.1.js"></script>

        <!-- UNDERSCORE.JS -->
        <script src="./js/lib/underscore.js"></script>

        <!-- BACKBONE.JS -->
        <script src="./js/lib/backbone.js"></script>

        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>

        <!-- javascript spécifique à cette application-->
        <script src="./js/models/modeleTache.js"></script>
        <script src="./js/collections/colTaches.js"></script>
        <script src="./js/views/vueTaches.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>