table {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
}

#col-affichage {
    column-span: all;
}


tr {
    height: 35px;
}

td {
    background-color: #999999;
}

col {
    width: 35px;
}
