<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Lab 9 - User profile</title>

	<link rel="stylesheet" href="../css/index.css">
</head>
<body>

	<div id="content">
	    <div id="zone_connexion">
	        <form>
	        	<p id="login_label_user">Utilisateur :</p>
	            <input id="login_textbox_user" maxlength="15" type="text" name="user" required="required">       
	        	<p id="login_label_password">Mot de passe :</p>
	        	<input id="login_textbox_password" maxlength="10" type="password" name="password" required="required">
	        </form>	  

	        <div id="login_bouton_connexion">Connexion</div>
	    </div>
	</div>

	<script src="../js/lib/jquery-1.11.1.js"></script>
	<script src="../js/lib/jquery.base64.js"></script>
	<script src="../js/lib/jquery.cookie.js"></script>
	<script src="../js/login.js"></script>
</body>
</html>







